In [8]:
#Q1>
import numpy as np
import pandas as pd
print(pd.__version__)

1.0.1

In [3]:
#Q2>

arr= np.array([1,15,25,"Anurag","Abhishek",65,75,3.0,True,6])
srs=pd.Series(arr) #to create a series from numpy array use pd.Series() function on numpy array
print(srs)

0           1
1          15
2          25
3      Anurag
4    Abhishek
5          65
6          75
7         3.0
8        True
9           6
dtype: object

In [9]:
#Q3>

df = pd.DataFrame({'Roll Number': ['0133CS171029', '0133CS171049', '0133CS171036', '0133CS171044'], 
                   'Name': ['Aman', 'Sameer', 'Danish', 'Anurag'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})
df['index']=df.index #to convert index of a series in to column of a dataframe
df

    Roll Number    Name  Marks In Percentage Grade  Subject  index
0  0133CS171029    Aman                   97     A  Physics      0
1  0133CS171049  Sameer                   90     A  Physics      1
2  0133CS171036  Danish                   70     C  Physics      2
3  0133CS171044  Anurag                   82     B  Physics      3

In [12]:
#Q4>

import seaborn as sb
data=sb.load_dataset('mpg')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [16]:
#Q5>

org= pd.unique(data['origin'])
print(org)

['usa' 'japan' 'europe']

In [26]:
#Q6>

#unable to solve

AttributeError: 'numpy.ndarray' object has no attribute 'index'